#|Copyright Notice:                                                           |
#|                                                                            |
#|      Copyright (C) 1990-2014, International Business Machines              |
#|      Corporation and others. All rights reserved                           |
#+----------------------------------------------------------------------------+
[Settings]
StartFirst=1
Frequency=0
[Networks]
URL=http://community.opentm2.org/display/GEN/OpenTM2+Installer
ProxyAddress=
ProxyPort=
