#|Copyright Notice:                                                           |
#|                                                                            |
#|      Copyright (C) 1990-2014, International Business Machines              |
#|      Corporation and others. All rights reserved                           |
#+----------------------------------------------------------------------------+
#OpenTM2 Configurationfile
[Networks]
URL=http://community.opentm2.org/download/attachments/2064532
ProxyAddress=
ProxyPort=
[BasicPlugins]
Name=
MinCnt=0
[NonRemovablePlugins]
Name=UserMarkupTablePlugin,EqfMemoryPlugin,EqfDocumentPlugin,OtmSpellHSCheckPlugin,OtmMorphICUPlugin,EqfDictionaryPlugin
[Settings]
Frequency=0
