#|Copyright Notice:                                                           |
#|                                                                            |
#|      Copyright (C) 1990-2013, International Business Machines              |
#|      Corporation and others. All rights reserved                           |
#+----------------------------------------------------------------------------+
#OpenTM2 Pending Update Configurationfile
[Settings]
NeedRestart=0
MaxWaitTime=1000
MaxWaitTimes=120
